<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'workbook_app:choose' question.quiz.course.course_id question.quiz.quiz_id question.question_id %}" method="post">
    {% csrf_token %}
    {% for option in question.option_set.all %}
    <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.option_number }}">
    <label for="option{{ forloop.counter }}">{{ option.option_text }}</label><br>
    {% endfor %}
    <a class="btn" href="">Link</a>
</form>
